<!DOCTYPE html>
<html lang="es-AR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <script src="{{ asset('assets/js/jquery-2.2.3.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

        <title>{% block title %}¡Bienvenido!{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button 
                        type="button" 
                        class="navbar-toggle collapsed" 
                        data-toggle="collapse" 
                        data-target="#bs-example-navbar-collapse-1" 
                        aria-expanded="false">
                    </button>
                    <a class="navbar-brand" href="{{ url('inicio') }}">Turismo</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li >
                            <a href="{{ url('puntosinteres_index') }}">Puntos de interés</a>
                        </li>
                        <li>
                            <a href="{{ url('localidades_index') }}">Localidades</a>
                        </li>
                        <li>
                            <a href="{{ url('categorias_index') }}">Categorías</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
</html>
