
<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <script src="{{ asset('assets/js/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

    <title>{% block title %}¡Bienvenido!{% endblock %}</title>

</head>
<body>

    <header class="navbar navbar-fixed-top">

        <div class="navbar-header">
            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#nav-bar-principal" data-toggle="collapse" type="button">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand" href="{{ url('inicio') }}">Conocer Tierra del Fuego</a>
        </div>

        <div class="collapse navbar-collapse" id="nav-bar-principal">
            <ul class="nav navbar-nav visible-xs-block">
                <li>
                    <a href="{{ url('puntosinteres_index') }}">Puntos de interés</a>
                </li>
                <li>
                    <a href="{{ url('localidades_index') }}">Localidades</a>
                </li>
                <li>
                    <a href="{{ url('categorias_index') }}">Categorías</a>
                </li>
            </ul>




<!--
            <div class="buscador">

                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <input class="form-control" placeholder="Buscar..."
                        type="text">
                    </div>
                    <button class="btn btn-primary" type="submit"><span aria-hidden="true" class="glyphicon glyphicon-search"></span>
                    </button>
                    <a href="#" class="btn btn-success boton-login">Login</a>
                </form>
-->
            </div> <!--fin .buscador -->

        </div>
    </header>

    <div class="container">

        <div class="row-fluid">

            <div class="barra-lateral col-sm-4 col-md-3 lg-md-3 visible-sm-block visible-md-block visible-lg-block hidden-xs">
                <img class="thumbnail imagen-miniatura" src="https://conocerushuaia.files.wordpress.com/2016/02/abismo01.jpg?w=500">
                <a href="{{ url('puntosinteres_index') }}">
                    <h4>Puntos de interés</h4>
                </a>
                <a href="{{ url('localidades_index') }}">
                    <h4>Localidades</h4>
                </a>
                <a href="{{ url('categorias_index') }}">
                    <h4>Categorías</h4>
                </a>
            </div> <!--fin barra-lateral-->

            <div class="main-content-area col-sm-8 col-md-9 lg-md-9">

                {% block body %}{% endblock %}

            </div> <!--fin main-content-area-->
        </div> <!--fin row-fluid-->
    </div> <!--fin container-->

    <footer class="footer">
        <div class="text-center">
            <h5>UNIVERSIDAD NACIONAL DE TIERRA DEL FUEGO - TALLER DE NUEVAS TECNOLOGÍAS</h5>
        </div>
    </footer>

</body>
</html>