    <article class="well">
        {% set foo = puntoInteres.fotos[0].link %}
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-thumbnail" src="{{ foo }}" style="width: 150px">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ puntoInteres.nombre }}</h4>
             <p>{{puntoInteres.descripcion}}</p>            
             <div class="categorias-puntos-interes">              
                <a href="{{ path('puntosinteres_completo', { 'id': puntoInteres.id }) }}" class="btn btn-success" style="float: right"><span class="glyphicon glyphicon-ok">Ampliar</span></a>  

                {% for cat in puntoInteres.categorias %}    
                    <div class="label label-info">{{ cat.nombre }}</div>    
                {% endfor %}    
            </div>    
          </div>    
        </div>    
     </article>   
