{% extends '::base.html.twig' %}

{% block title %} Puntos de interés {% endblock %}

{% block body %}
    
    <section class="row-fluid">
        <h1>Puntos de interés</h1>

        {% for puntointeres in puntosinteres %}
            <article class="articulo-punto-interes well">
                <div class="nombre">
                    <h4>{{ puntointeres.nombre }}</h4>
                </div>

                <div class="descripcion-puntos-interes">
                    {{ puntointeres.descripcion }}
                </div>

                <div class="mapa-puntos-interes">
                    {{ puntointeres.latitud }}
                    <br/>
                    {{ puntointeres.longitud }}
                </div>

                <div class="links-puntos-interes">
                    <a href="http://{{ puntointeres.linkinteres }}">{{ puntointeres.linkinteres }}</a>                    
                </div>

                <div class="direccion-interes">
                    {{ puntointeres.direccion }}
                </div>

                <div class="categorias-puntos-interes">
                    {% for cat in puntointeres.categorias %}
                        <div class="label label-success">{{ cat.nombre }}</div>
                    {% endfor %}
                </div>

                <div class="links-puntos-interes">
                    {{ puntointeres.localidad.nombre }}
                </div>

                <div class="imagen-puntos-interes">
                    {% for foto in puntointeres.fotos %}
                        <img src="{{ foto.link }}" width="200"/>
                    {% endfor %}
                </div>

                <div class="links-puntos-interes">
                    {% for video in puntointeres.videos %}
                        <div class="label label-info">{{ video.link }}</div>
                    {% endfor %}
                </div>

                <div class="links-puntos-interes">
                    {{ puntointeres.localidad.nombre }}                    
                </div>
            </article>
        {% endfor %}

    </section>
{% endblock %}
