{% extends '::base.html.twig' %}

{% block title %} Puntos de interés {% endblock %}

{% block body %}
    <section>
        <h1>Puntos de interés</h1>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Latitud</th>
                    <th>Longitud</th>
                    <th>Link de interés</th>
                    <th>Dirección</th>
                    <!--
                    <th>Localidad</th>
                    <th>Categoría</th>
                    <th>Foto</th>
                    <th>Video</th>
                    <th>Precio</th>
                    -->
                </tr>
            </thead>
            <tbody>
                {% for puntointeres in puntosinteres %}
                    <tr>
                        <td>{{ puntointeres.nombre }}</td>
                        <td>{{ puntointeres.descripcion }}</td>
                        <td>{{ puntointeres.latitud }}</td>
                        <td>{{ puntointeres.longitud }}</td>
                        <td><a href="http://{{ puntointeres.linkinteres }}">{{ puntointeres.linkinteres }}</a></td>
                        <td>{{ puntointeres.direccion }}</td>
                        {#
                        <td>{{ puntointeres.campo }}</td>
                        <td>{{ puntointeres.campo }}</td>
                        <td>{{ puntointeres.campo }}</td>
                        <td>{{ puntointeres.campo }}</td>
                        <td>{{ puntointeres.campo }}</td>
                        #}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
