{% extends 'base.html.twig' %}

{% block body %}
    <!-- Crea la vista para modificar una categoria.
    Usa la función buildForm($request, $categoria) del archivo
    CategoriaType.php para generar el formulario de modificación.
    Usa la función editAction($request, $categoria) y la variable $edit_form del
    archivo CategoriaController.php para guardar las modificaciones de la
    categoria. -->

    <h1>Editar una categoría
        <a href="{{ path('categoria_index') }}" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-list"></span> Volver a la lista
        </a>
    </h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input type="submit" value="Borrar" class="btn btn-primary">
    {{ form_end(delete_form) }}    
{% endblock %}
