{% extends 'base.html.twig' %}

{% block body %}
    <!-- Crea la vista para modificar un punto de interés.
    Usa la función buildForm($request, $puntoInteres) del archivo
    PuntoInteresType.php para generar el formulario de modificación.
    Usa la función editAction($request, $puntoInteres) y la variable $edit_form
    del archivo PuntoInteresController.php para guardar las modificaciones del
    punto de interés. -->
    
    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <h1>Editar un punto de interés
        <a href="{{ path('puntointeres_index') }}" class="btn btn-default pull-right">   
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Volver a la lista
        </a>
    </h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Imágenes</label>
            <div class="col-sm-10">
                <span id="imagenes-inputs">
                    <input name="imagenes[]" type="text" class="form-control"> <br>
                </span>

                <button type="button" class="btn btn-success" id="agregar-input-imagen">
                    <span class="glyphicon glyphicon-plus"></span> Nueva imagen
                </button>
            </div>
        </div>

    {{ form_end(edit_form) }}
    
    <div id="form-mapa" class="form-group">
        <br/>
        <div id="mapa" class="mapa-puntos-interes col-md-12">
            <div class="alert alert-info">
                Haga clic en el mapa para seleccionar las coordenadas, o ingréselas en los correspondientes casilleros
            </div>
            <div id="googleMap" style="height:280px;" class="thumbnail"></div>
        </div>
    </div>

    
    {{ form_start(delete_form) }}
        <input type="submit" value="Borrar" class="btn btn-primary">
    {{ form_end(delete_form) }}


    <style type="text/css">
        .template {
            visibility: none;
            display: none;
        }
    </style>

    <div class="template" id="template-imagenes">
        <input name="imagenes[]" type="text" class="form-control"> <br>
    </div>

    <script>
        $("#agregar-input-imagen").on("click", function(){
            var imgTemplate = $("#template-imagenes").children().clone();
            $("#imagenes-inputs").append(imgTemplate);
        });
    </script>

    <script>
        var marker = null;

        function initialize() {
            var lat = document.getElementById("punto_interes_latitud").value;          
            var lng = document.getElementById("punto_interes_longitud").value;          
            var myCenter = new google.maps.LatLng(lat, lng);

          var mapProp = {
            center: myCenter,
            zoom: (lat != 0 ? 15 : 5),
            mapTypeId:google.maps.MapTypeId.ROADMAP
          };

          var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

          marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map
             });


          google.maps.event.addListener(map, "click", function(event) {

                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("punto_interes_latitud").value = clickLat.toFixed(5);
                document.getElementById("punto_interes_longitud").value = clickLon.toFixed(5);

                marker.setPosition(new google.maps.LatLng(clickLat, clickLon));
            });
        }
        window.onload = function () { initialize() };
        $("#punto_interes_longitud").parent().append($("#form-mapa"))
    </script>

{% endblock %}