{% extends 'base.html.twig' %}

{% block body %}
    <!-- Crea la vista para modificar un punto de interés.
    Usa la función buildForm($request, $puntoInteres) del archivo
    PuntoInteresType.php para generar el formulario de modificación.
    Usa la función editAction($request, $puntoInteres) y la variable $edit_form
    del archivo PuntoInteresController.php para guardar las modificaciones del
    punto de interés. -->
    
    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <h1>Editar un punto de interés
        <a href="{{ path('puntointeres_index') }}" class="btn btn-default pull-right">   
            <span class="glyphicon glyphicon-list"></span> Volver a la lista
        </a>
    </h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        
        <!-- Fotos -->
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Fotos</label>
            <div class="col-sm-10">
                <span id="foto-inputs">
                    {% for foto in puntoInteres.getFotos() %}
                        <span>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <a href="{{ foto.getLink() }}" target="_blank" class="btn btn-default">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </span>
                                <input type="url" class="form-control" name="fotos[]" value="{{ foto.getLink() }}" required>
                                <span class="input-group-btn">                                    
                                    <button class="btn btn-danger" type="button">
                                        <span class="glyphicon glyphicon-trash borrar-foto"></span>
                                    </button>
                                </span>
                            </div>
                            <br/>
                        </span>
                    {% endfor %}
                </span>

                <button type="button" class="btn btn-success" id="agregar-input-foto">
                    <span class="glyphicon glyphicon-plus"></span> Nueva foto
                </button>
                <br/>
                <br/>
            </div>
        </div>
        <br/>

        <!-- Videos -->
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Videos</label>
            <div class="col-sm-10">
                <span id="video-inputs">
                    {% for video in puntoInteres.getVideos() %}           
                        <span>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <a href="{{ video.getLink() }}" target="_blank" class="btn btn-default">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </span>
                                <input type="url" class="form-control" name="videos[]" value="{{ video.getLink() }}" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class="glyphicon glyphicon-trash borrar-video"></span>
                                    </button>
                                </span>
                            </div>
                            <br/>
                        </span>
                    {% endfor %}
                </span>

                <button type="button" class="btn btn-success" id="agregar-input-video">
                    <span class="glyphicon glyphicon-plus"></span> Nuevo video
                </button>
                <br/>
                <br/>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-ok"></span> Guardar
        </button>

    {{ form_end(edit_form) }}
    
    <!-- Mapa -->
    <div id="form-mapa" class="form-group">
        <br/>
        <div id="mapa" class="mapa-puntos-interes col-md-12">
            <div class="alert alert-info">
                Haga clic en el mapa para seleccionar las coordenadas, o ingréselas en los correspondientes casilleros
            </div>
            <div id="googleMap" style="height:280px;" class="thumbnail"></div>
        </div>
    </div>

    {{ form_start(delete_form) }}
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> Borrar punto de interés
        </button>
    {{ form_end(delete_form) }}


    <div class="template" id="template-foto">
        <span>
            <div class="input-group">
                <input type="url" class="form-control" name="fotos[]" required>
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <span class="glyphicon glyphicon-trash borrar-foto"></span>
                    </button>
                </span>
            </div>
            <br/>
        </span>
    </div>

    <div class="template" id="template-video">
        <span>
            <div class="input-group">
                <input type="url" class="form-control" name="videos[]" required>
                <span class="input-group-btn">
                    <button class="btn btn-danger borrar-video" type="button">
                        <span class="glyphicon glyphicon-trash borrar-video"></span>
                    </button>
                </span>
            </div>
            <br/>
        </span>
    </div>

    <!-- Mapa -->
    <script>
        var marker = null;

        function initialize() {
            var lat = document.getElementById("punto_interes_latitud").value;          
            var lng = document.getElementById("punto_interes_longitud").value;          
            var myCenter = new google.maps.LatLng(lat, lng);

            var mapProp = {
                center: myCenter,
                zoom: (lat != 0 ? 15 : 5),
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

            marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map
            });


            google.maps.event.addListener(map, "click", function(event) {

                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("punto_interes_latitud").value = clickLat.toFixed(5);
                document.getElementById("punto_interes_longitud").value = clickLon.toFixed(5);

                marker.setPosition(new google.maps.LatLng(clickLat, clickLon));
            });
        }
        window.onload = function () { initialize() };
        $("#punto_interes_longitud").parent().append($("#form-mapa"))
    </script>

    <!-- Agregar y borrar fotos -->
    <script>
        $("#agregar-input-foto").on("click", function(){
            var fotoTemplate = $("#template-foto").children().clone();
            $("#foto-inputs").append(fotoTemplate);
        });

        $("body").on("click", ".borrar-foto", function(){
            $(this).parent().parent().parent().remove();
        });
    </script>

    <!-- Agregar y borrar videos -->
    <script>
        $("#agregar-input-video").on("click", function(){
            var videoTemplate = $("#template-video").children().clone();
            $("#video-inputs").append(videoTemplate);
        });

        $("body").on("click", ".borrar-video", function(){
            $(this).parent().parent().parent().remove();
        });
    </script>

{% endblock %}