{% extends 'base.html.twig' %}

{% block body %}
    <!-- Crea la vista para mostrar todos los puntos de interés.
    Usa la función indexAction($request) y la variable $puntosInteres del
    archivo PuntoInteresController.php para mostrar todos los puntos de interés.
    -->

    <h1>Puntos de interés</h1>

    <table class="table table-stripped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Link de interés</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
        {% for puntoInteres in puntosInteres %}
            <tr>
                <td>{{ puntoInteres.nombre }}</td>
                <td>{{ puntoInteres.latitud }}</td>
                <td>{{ puntoInteres.longitud }}</td>
                <td>{{ puntoInteres.linkinteres }}</td>
                <td>{{ puntoInteres.direccion }}</td>
                <!-- Botón Editar -->
                <td>
                    <a class="btn btn-primary" href="{{ path('puntointeres_edit', { 'id': puntoInteres.id }) }}">Editar</a>    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Botón Crear nueva entrada -->
    <a class="btn btn-primary" href="{{ path('puntointeres_new') }}">Crear nueva entrada</a>
{% endblock %}
