{% extends 'base.html.twig' %}

{% block body %}
    <!-- Crea la vista para mostrar el nuevo punto de interés creado.
    Usa la función newAction($request) y la variable $puntoInteres del
    archivo PuntoInteresController.php para mostrar el punto de interés creado.
    -->
    
    <h1>Punto de interés. <small>El nuevo punto de interés fue creado con éxito.</small></h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ puntoInteres.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ puntoInteres.descripcion }}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ puntoInteres.latitud }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ puntoInteres.longitud }}</td>
            </tr>
            <tr>
                <th>Link de interés</th>
                <td>{{ puntoInteres.linkinteres }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ puntoInteres.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('puntointeres_index') }}">Volver a la lista</a>
    <a class="btn btn-primary" href="{{ path('puntointeres_edit', { 'id': puntoInteres.id }) }}">Editar</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-primary" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
