{% extends 'base.html.twig' %}

{% block body %}
    <h1>PuntoInteres</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ puntoIntere.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ puntoIntere.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ puntoIntere.descripcion }}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ puntoIntere.latitud }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ puntoIntere.longitud }}</td>
            </tr>
            <tr>
                <th>Link_interes</th>
                <td>{{ puntoIntere.linkinteres }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ puntoIntere.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('puntointeres_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('puntointeres_edit', { 'id': puntoIntere.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
