{% extends 'base.html.twig' %}

{% block body %}
    <h1>PuntoInteres</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ puntoInteres.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ puntoInteres.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ puntoInteres.descripcion }}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ puntoInteres.latitud }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ puntoInteres.longitud }}</td>
            </tr>
            <tr>
                <th>Link_interes</th>
                <td>{{ puntoInteres.linkinteres }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ puntoInteres.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('puntointeres_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('puntointeres_edit', { 'id': puntoInteres.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
