{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar localidad        
        <a href="{{ path('localidad_index') }}" class="btn btn-default pull-right">   
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Volver a la lista
        </a>
    </h1>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input class="btn btn-primary" type="submit" value="Borrar">
    {{ form_end(delete_form) }}
{% endblock %}
